@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../fonts/BebasNeue Bold.eot");
  src: local("☺"), url("../fonts/BebasNeue Bold.woff") format("woff"), url("../fonts/BebasNeue Bold.ttf") format("truetype"), url("../fonts/BebasNeue Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 23px;
  color: #48555B;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.wrapper button {
  background-color: rgba(28, 28, 28, 0);
}

.button_style {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(28, 28, 28, 0);
}

/* header */

.logo__header {
  max-width: 1440px;
  max-height: 768px;
  margin: 0px auto;
}

.logo__header_img {
  background: url('../img/header.png');
  background-position: 50% 50%;
  background-size: auto 100%;
}

.header__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 768px;
}

.header__row_img {
  margin: 41px 0px 0px 0px;
}

.header__row_title {
  margin: 101px 0px 0px 0px;
  color: #FFFFFF;
}

.header__row_title h1 {
  font-family: "Bebas Neue Bold";
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 5.7px;
  text-transform: uppercase;
}

.header__row_title p {
  font-size: 16px;
  line-height: 18px;
}

.header__row_scrol {
  margin: 0px 0px 71px 0px;
}

.header__row_scrol button {
  width: 140px;
  height: 15px;
  letter-spacing: 3.7px;
}

.header__content_row {
  text-align: center;
}

/* footer */

.footer {
  max-width: 1440px;
  margin: 0px auto;
}

.footer__nav {
  height: 299px;
  color: #FFFFFF;
  font-size: 11px;
  background-color: #141A20;
}

.footer__row {
  height: 240px;
  display: flex;
  justify-content: space-around;
  letter-spacing: 0.85px;
  padding: 0px 209px 0px 209px;
}

.footer__row_company {
  flex-basis: 250px;
}

.footer__row_h2 {
  text-transform: uppercase;
  line-height: 15px;
  padding: 42px 0px 0px 0px;
}

.footer__row_company img {
  padding: 20px 0px 0px 0px;
}

.footer__row_company p {
  line-height: 19px;
  padding: 16px 0px 0px 0px;
}

.footer__row_links {}

.footer__row_contact {
  flex-basis: 141px;
}

.footer__row_contact p {
  line-height: 16px;
  padding: 15px 0px 0px 0px;
}

.footer__row_socials {
  flex-basis: 87px;
  padding: 72px 0px 0px 0px;
  text-align: center;
  letter-spacing: 21px;
}

.footer__links_row {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 25px;
  width: 262px;
  display: flex;
  justify-content: space-between;
}

.footer__links_row a {
  color: #FFFFFF;
}

.footer__links_row a:hover {
  color: #00A4E5;
}

.footer__links1 {
  min-width: 78px;
  padding: 10px 0px 0px 0px;
}

.footer__copyright {
  height: 60px;
  background-color: #171819;
}

.footer__copyright p {
  text-align: center;
  line-height: 15px;
  letter-spacing: 0.846154px;
  padding: 22px 0px 0px 0px;
}


/* body */
.content {
  flex: 1 1 auto;
}

/* navbar */
.navbar {
  max-width: 1440px;
  height: 65px;
  margin: 0px auto;
}

.navbar__nav_row {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #E6E6E6;
}

.navbar__nav_img {
  flex-basis: 720px;
  text-align: center;
  padding: 25px 150px 0px 0px;
}

.navbar__nav_link {
  flex-basis: 720px;
  text-align: center;
  padding: 24px 210px 0px 0px;
  word-spacing: 30px;
}

.menu_btn {
  display: none;
}

.menu {
  display: none;
}

.logo__link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.09091px;
  color: #48555B;
}

.logo__link:hover {
  color: #00A4E5;
}

/* about */

.about {
  max-width: 941px;
  min-height: 344px;
  margin: 0px auto;
  padding: 57px 0px 120px 0px;
}

.about h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2.30625px;
  text-transform: uppercase;
}

.about__line {
  width: 50px;
  padding: 10px 0px 0px 0px;
  margin: 0 auto;
  border-bottom: 2px solid #00A4E5;
}

.about__story {
  display: flex;
}

.about__story_text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  padding: 60px 0px 0px 0px;
  width: 405px;
  min-height: 101px;
}

.about__story_text .about__text_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  padding: 0px 0px 30px 0px;
}

.about__story_text span {
  color: #00A4E5;
}

.about__story_link {
  display: flex;
  padding: 84px 0px 0px 0px;
}

.about__story_row1 {
  width: 140px;
  height: 224px;
  margin: 0px 0px 0px 76px;
  background: url("../img/WE PLAN.jpg") 0 0/140px 224px no-repeat;
}

.about__story_row2 {
  width: 140px;
  height: 224px;
  margin: 0px 0px 0px 16px;
  background: url("../img//WE MANAGE.jpg") 0 0/140px 224px no-repeat;
}

.about__story_row3 {
  width: 140px;
  height: 224px;
  margin: 0px 0px 0px 16px;
  background: url("../img/WE BUILD.jpg") 0 0/140px 224px no-repeat;
}

.about__link_text {
  max-width: 68px;
  max-height: 58px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  text-transform: uppercase;
  padding: 15px 0px 0px 14px;
}

.about__link_text button {
  text-align: left;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slider_next {
  display: none;
}

.slider_prev {
  display: none;
}


/* services */
.services {
  width: 940px;
  height: 446px;
  margin: 0 auto;
}

.services__title {
  display: flex;
}

.services__title_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  letter-spacing: 2.30625px;
  text-transform: uppercase;
  white-space: nowrap;
}

.services__title_line {
  width: 50px;
  padding: 10px 0px 0px 0px;
  border-bottom: 2px solid #00A4E5;
}

.services__title_text {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  max-width: 406px;
  margin: 0px 31px 0px 155px;
}

.services__title_button {
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
  align-items: center;
  display: flex;
}


.services__row {
  display: flex;
  justify-content: space-between;
  margin: 76px 0px 0px 0px;
}

.services__row_info {
  width: 295px;
  height: 330px;
  border: 1px solid #E6E6E6;
}

.services__info_img {
  width: 66px;
  height: 75px;
  margin: 30px 0px 0px 23px;
}

.services__info_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  width: 250px;
  letter-spacing: 0.3px;
  margin: 25px 0px 0px 23px;
}

.services__info_text {
  width: 250px;
  margin: 23px 0px 0px 13px;
}

/* get-in-touch */
.get {
  margin: 115px 0px -2px 0px;
}

.get__kont {
  max-width: 1440px;
  height: 499px;
  background-image: url("../img/bg.png");
  background-position: 50% 50%;
  background-size: auto 100%;
  margin: 0 auto;
}

.get__row {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.get__row_text {
  width: 350px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  padding: 120px 0px 0px 0px;
}

.get__row_button {
  width: 150px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #00A4E5;
  margin: 35px 0px 0px 0px;
}

.get__row_button a {
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* newsletter */
.newsletter__kont {
  width: 1440px;
  height: 100px;
  background: #171819;
  margin: 0 auto;
}

.newsletter__row {
  display: flex;
  justify-content: center;
}

.newsletter__row_text {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin: 35px 70px 0px 0px;
  letter-spacing: 0.846154px;
  color: #FFFFFF;
}

.newsletter__row_post {
  width: 400px;
  min-height: 40px;
  margin: 30px 0px 0px 0px;
}

.newsletter__post_input {
  width: 248px;
  height: 40px;
  font-size: 14px;
  line-height: 19px;
  padding: 0px 0px 0px 16px;
}

.newsletter__post_button {
  width: 150px;
  height: 40px;
  background: #00A4E5;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px -3px;
}

.newsletter__row_form {
  display: flex;
}

/* Breakpoints */

/* Breakpoints 1180px - 700px*/


@media (max-width: 1180px) {

  /* header */

  /* navbar */
  .navbar__nav_img {
    flex-basis: 30%;
    text-align: center;
    padding: 25px 0px 0px 0px;
  }

  .navbar__nav_link {
    flex-basis: 70%;
    padding: 24px 0px 0px 0px;
  }

  .logo__link:hover {
    font-weight: 600;
    color: #48555B;
  }

  /* about */

  .about__story {
    display: flex;
    flex-direction: column;
  }

  .about__story_text {
    width: 100%;
    padding: 60px 10px 0px 20px;
  }

  .about__story_link {
    display: flex;
    justify-content: space-around;
    padding: 24px 0px 0px 0px;
  }

  .about__story_row1 {
    margin: 0;
  }

  .about__story_row2 {
    margin: 0;
  }

  .about__story_row3 {
    margin: 0;
  }

  /* services */

  .services {
    height: 100%;
  }

  .services__title {
    display: grid;
    grid-template: auto / 2fr auto;
    grid-template-areas: 'header header''block-1 block-2';
    margin: 0px 10px 0px 20px;
  }

  .services__title_title {
    grid-area: header;
  }

  .services__title_text {
    grid-area: block-1;
    width: 100%;
    margin: 2% 0%;
  }


  .services__title_button {
    grid-area: block-2;
    margin: 2% 1% 0% 0%;
  }

  .services__row {
    display: flex;
    margin: 36px 0px 0px 0px;
  }

  /* newsletter */

  .newsletter__kont {
    width: auto;
  }

  /* footer */

  .footer__row {
    margin: 0px 5px;
    width: 100%;
    padding: 0px;
  }

  .footer__row_socials {
    margin: 0px 15px 0px 0px;
  }


  .footer__links_row a:hover {
    color: #FFFFFF;
  }

}

/* Breakpoints 944px - 500px*/


@media (max-width: 943px) {

  /* services */

  .services {
    height: 100%;
  }

  .services__title {
    display: grid;
    grid-template: auto / 2fr auto;
    grid-template-areas: 'header header''block-1 block-2';
    max-width: 680px;
    margin: 0px 10px 0px 20px;
  }

  .services__title_title {
    grid-area: header;
  }

  .services__title_text {
    grid-area: block-1;
    width: 100%;
    margin: 2% 0%;
  }


  .services__title_button {
    grid-area: block-2;
    margin: 2% 1% 0% 0%;
  }

  .services__row {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    margin: 36px 0px 0px 0px;
  }

  .services__row_info {
    margin: 10px 25px 0px 25px;
  }

  /* footer */
  .footer__row_socials {
    flex-basis: 40px;
  }

}


/* Breakpoints 700px - 500px*/

@media (max-width: 700px) {

  /* header */

  .header__row_title h1 {
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 4.7px;
  }

  .header__row_title p {
    font-size: 13px;
  }

  /* navbar */
  .navbar__nav_img {
    flex-basis: 20%;
    text-align: center;
    padding: 25px 0px 0px 0px;
  }

  .navbar__nav_link {
    flex-basis: 80%;
    padding: 24px 0px 0px 0px;
  }

  /* services */

  .services {
    height: 100%;
  }

  .services__title {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 20px;
  }

  .services__row {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
    margin: 36px 0px 0px 0px;
  }

  .services__row_info {
    margin: 0px 0px 20px 0px;
  }

  /* newsletter */

  .newsletter__row_text {
    margin: 35px 15px 0px 0px;
  }

  .newsletter__row_post {
    width: 350px;
  }

  /* footer */

  .footer__nav {
    height: 100%;

  }

  .footer__row {
    margin: 0px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .footer__row_company {
    max-width: 500px;
  }

  .footer__row_links {
    max-width: 500px;
  }


  .footer__row_contact {
    max-width: 500px;
  }

}

@media (max-width: 600px) {
  /* newsletter */

  .newsletter__row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .newsletter__row_text {
    margin: 35px 15px 0px 0px;
  }

  .newsletter__row_post {
    margin: 0% 0% 0% 10%;
  }

}

/* Breakpoints 500px - 400px*/

@media (max-width: 500px) {

  /* header */

  .header__row_title h1 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 4.7px;
  }

  .header__row_title p {
    font-size: 11px;
  }

  .header__row_scrol button {
    width: 100px;
    height: 10px;
    font-size: 8px;
  }

  /* navbar */
  .navbar__nav_img {
    flex-basis: 85%;
    text-align: left;
    padding: 25px 0px 0px 30px;
  }

  .navbar__nav_link {
    flex-basis: 15%;
    padding: 20px 0px 0px 0px;
    text-align: center;
  }

  /*-------------------------*/

  /* burger  */

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    margin: 20px 15px 0px 0px;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;

  }

  .header__burger span {
    position: absolute;
    background-color: #828282;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #828282;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: 100%;
    left: -50%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
    border: 2px solid #E6E6E6;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header__list button {
    margin: 0px 0px 20px 0px;
  }

  .logo__link {
    padding: 0px 10px 0px 0px;
    text-align: right;
    font-size: 30px;
    height: 100%;
  }

  /*-----------------------------*/

  /* about */

  .about__story {
    display: flex;
    flex-direction: column;
  }

  .about__story_text {
    width: 100%;
    padding: 60px 10px 0px 20px;
  }

  .about__story_link {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px 0px 0px;
  }

  .about__story_row1 {
    width: 130px;
    margin: 0;
  }

  .about__story_row2 {
    width: 130px;
    margin: 0;
  }

  .about__story_row3 {
    width: 130px;
    margin: 0;
  }

  /* services */

  .services {
    height: 100%;
  }

  .services__title {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 20px;
  }

  .services__title_text {
    max-width: 390px;
  }

  .services__row {
    max-width: 400px;
    margin: 36px 0px 0px 0px;
  }

  .services__row_info {
    margin: 0px 0px 20px 0px;
  }
}


/* Breakpoints 400px - 250px*/

@media (max-width: 400px) {

  /* header */

  .header__row_title h1 {
    font-size: 40px;
  }

  .header__row_title p {
    font-size: 11px;
  }

  /* navbar */

  .logo__link {
    padding: 0px 5px 0px 0px;
    font-size: 17px;
  }

  /* about */

  /* slider*/
  .slider_row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
  }

  .slider {
    display: flex;
    width: 140px;
    height: 224px;
    border: 1px solid black;
    overflow: hidden;
  }

  .slider_line {
    height: 224px;
    width: 420px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
  }

  .slider_next {
    display: block;
    width: 40px;
    height: 20px;
    margin: 112px 25px 0px 0px;
  }

  .slider_prev {
    display: block;
    width: 40px;
    height: 20px;
    margin: 112px 0px 0px 15px;
  }

  /*slider end*/
  /*---------------------*/
  .about__story {
    display: flex;
    flex-direction: column;
  }

  .about__story_text {
    width: 100%;
    padding: 60px 10px 0px 20px;
  }

  .about__story_link {
    display: flex;
    padding: 0;
  }

  .about__story_row1 {
    width: 140px;
    margin: 0;
  }

  .about__story_row2 {
    width: 140px;
    margin: 0;
  }

  .about__story_row3 {
    width: 140px;
    margin: 0;
  }

  /* services */

  .services__title_text {
    max-width: 260px;
  }

  .services__row {
    max-width: 280px;
    margin: 36px 0px 0px 0px;
  }

  .services__row_info {
    margin: 0px 0px 20px 0px;
  }

  /* get-in-touch */

  .get__row_text {
    width: 280px;
  }

  /* newsletter */


  .newsletter__post_input {
    width: 134px;
    font-size: 11px;
    line-height: 5px;
  }

  .newsletter__post_button {
    width: 85px;
  }

}